#exp {
  .header {
    // background: url('../images/bg-head.png') no-repeat scroll center center;
    // background-size: cover;
    padding: 30px;
    border-radius: 5px 5px 0 0;

    h1 {
      text-shadow: 0 0 10px $myBlue;
      color: $rColor;
      font-weight: bold;
    }
  } //.header

  .content {
    background: #f8f9fa;
    border-radius: 0 0 5px 5px;
    padding: 20px;

    .block.work {
      margin-bottom: 30px;

      .block-title {
        margin-bottom: 30px;
        h3 {
          font-weight: bold;
        }
      }

      .timeline {
        border-right: 2px gray;
        border-style: dashed;
        padding: 15px 0;

        .timeline-item {
          position: relative;
          margin: 0 20px 20px 0;
          padding: 15px 20px 10px;
          border-right: 2px solid $myYellow;
          box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
          text-align: right;

          .title {
            font-weight: bold;
          }

          .period {
            display: inline-block;
            font-size: 12px;
            color: #9e9e9e;
            margin-bottom: 5px;
          }

          .company {
            display: inline-block;
            font-size: 12px;
            color: #9e9e9e;
            margin: 0 0 5px 8px;
            padding-left: 8px;
            border-left: 1px solid #e0e0e0;
          }

          .desc {
            display: none;
            font-size: 15px;
          }
        }

        .timeline-item:before {
          content: '';
          display: inline-block;
          position: absolute;
          width: 12px;
          height: 12px;
          top: 20px;
          right: -29px;
          border: 2px solid $myYellow;
          z-index: 2;
          background: #fff;
          border-radius: 50%;
        }


        .timeline-item:after {
          content: '';
          display: inline-block;
          position: absolute;
          width: 29px;
          height: 2px;
          top: 25px;
          right: -29px;
          background-color: $myYellow;
          z-index: 1;
        }

        .timeline-item:last-child {
          margin-bottom: 0;
        }

        .timeline-item:first-child:after {
          background-color: $myBlue;
        }

        .timeline-item:first-child:before {
          border: 2px solid $myBlue;
        }

        .timeline-item:first-child, .timeline-item:nth-child(2) {
          border-right: 2px solid $myBlue;
          .period {
            color: $myYellow;
          }
          .company {
            color: $myBlue;
          }
        }
      }
    }

.block.edu {
      margin-bottom: 30px;

      .block-title {
        margin-bottom: 30px;
        h3 {
          font-weight: bold;
        }
      }

      .timeline {
        border-left: 2px gray;
        border-style: dashed;
        padding: 15px 0;

        .timeline-item {
          position: relative;
          margin: 0 0 20px 20px;
          padding: 15px 20px 10px;
          border-left: 2px solid $myYellow;
          box-shadow: 0 0 3px rgb(0, 0, 0, 0.2);
          text-align: left;

          .title {
            font-weight: bold;
          }

          .period {
            display: inline-block;
            font-size: 12px;
            color: #9e9e9e;
            margin-bottom: 5px;
          }

          .school {
            display: inline-block;
            font-size: 12px;
            color: #9e9e9e;
            margin: 0 0 5px 8px;
            padding-left: 8px;
            border-left: 1px solid #e0e0e0;
          }

          .desc {
            display: none;
            font-size: 15px;
          }
        }

        .timeline-item:before {
          content: '';
          display: inline-block;
          position: absolute;
          width: 12px;
          height: 12px;
          top: 20px;
          left: -29px;
          border: 2px solid $myYellow;
          z-index: 2;
          background: #fff;
          border-radius: 50%;
        }

        .timeline-item:after {
          content: '';
          display: inline-block;
          position: absolute;
          width: 29px;
          height: 2px;
          top: 25px;
          left: -29px;
          background-color: $myYellow;
          z-index: 1;
        }

        .timeline-item:last-child {
          margin-bottom: 0;
        }

        .timeline-item:first-child {
          border-left: 2px solid $myBlue;
          .period {
            color: $myYellow;
          }
          .school {
            color: $myBlue;
          }
        }

        .timeline-item:first-child:after {
          background-color: $myBlue;
        }
        
        .timeline-item:first-child:before {
          border: 2px solid $myBlue;
        }

      }
    }

  } //.content
} //#exp
