#login-container {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;

  #login-form {
    // background: url("../images/bg.jpg") no-repeat fixed center; //to hide footer when scroll down
    box-shadow: $rColor 0px 0px 25px;
    border-radius: 10px;
    margin-top: 25%;
    padding: 20px;
    text-align: left;
    color: #fff;
    position: relative;

    #bg-form-color {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      border-radius: 10px;
      background-color: rgba(37, 36, 36, 0.6);
    }

    form {
      position: relative;
      z-index: 1;
    }

    .login-title {
      text-align: center;
      font-weight: bold;
      padding-bottom: 15px;
      border-bottom: 1px solid $nColor;
    }

    .input-group-text {
      cursor: pointer;
    }

    .login-button {
      border-top: 2px solid $myYellow;
      padding-top: 10px;
      margin-top: 20px;

      > input[type] {
        margin: 3px;
        font-weight: bold;
      }

      > input[type="submit"] {
        background: $nColor;
      }
    }
  }
}
