@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#admin-page {
  font-family: "Poppins", sans-serif;
  display: flex;
  width: 100%;
  align-items: stretch;
  background: #fafafa;

  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }

  .content {
    padding: 20px;
    margin-left: 0;
    height: 100vh;
    overflow-x: auto;
    transition: all 0.5s;

    &.is-open {
      margin-left: 250px;
    }

    > .body {
      background: #fff;
      padding: 16px;
      border-radius: 5px;
    }
  }

  @media only screen and (max-width: 500px) {
    body {
      overflow: hidden;
    }

    .content.is-open {
      margin-left: 100%;
    }

    .sidebar.is-open {
      min-width: 100%;
      max-width: 100%;
      margin-left: 0;
      transition: all 0.5s, height 0s;
    }

    .sidebar.is-open > .sidebar-header span {
      display: unset;
    }

    li a.dropdown-toggle::after {
      display: inline-block;
      position: relative;
      left: 68%;
    }
  }
}
