#admin-page {
  .sidebar {
    min-width: 250px;
    max-width: 250px;
    background: $myBlue;
    color: #fff;
    margin-left: -250px;
    transition: all 0.5s;
    height: 100%;
    position: fixed;

    .sidebar-header {
      background: $myBlueL;
    }

    .sidebar-header .name {
      color: #fff;
      padding: 1em;
    }

    ul p {
      color: #fff;
      padding: 10px;
    }

    .sidebar-footer {
      background: $myBlueL;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      text-align: center;
    }
  }

  .sidebar.is-open {
    margin-left: 0;
    transition: 0.5s;
    position: fixed;
  }

  .menu-open {
    background: $myBlueL;
  }

  .items-menu {
    color: #fff;
    background: $myBlueL;
  }

  li a.dropdown-toggle,
  li a.dd-right {
    position: relative;
  }

  li a.dropdown-toggle::after {
    position: absolute;
    right: 5px;
    top: 45%;
    transition: transform 0.3s;
  }

  li a.dd-right::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    position: absolute;
    right: 5px;
    top: 45%;
    transform: rotate(-90deg);
    transition: transform 0.5s;
  }

  .sidebar-header > span {
    position: relative;
    float: right;
    margin: 0.5em;
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }

  .side-menu {
    height: calc(100vh - 130px);
    overflow-y: scroll;
  }

  .side-menu::-webkit-scrollbar {
    width: 10px;
  }

  .side-menu::-webkit-scrollbar-thumb {
    background: #5466b3;
    border-radius: 3px;
  }

  .side-menu::-webkit-scrollbar-thumb:hover {
    background: #3a4c99;
  }

  .nav-item:hover {
    color: $rColor;
    background: #fff;
    border-radius: 5px;
  }

  .nav-item.active {
    color: $rColor;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.1s;
  }
}
